/* 레이아웃 */
#wrap { width: 100%; }

/* 헤더 메뉴 */
#header img { width: 100%; height: auto; }
.header { text-align: center; width: 920px; margin: 0 auto; position: relative; }
.header .header-title { width: 100px; position: absolute; left: 0; }
.header .header-menu { margin-top: 20px; position: absolute; right: 0; }
.header .header-menu a { margin-left: 38px; font-size: 15px; font-weight: 700; }