/* 레이아웃 */
#wrap { width: 100%; }

/* 헤더 메뉴 */
#header img { width: 100%; height: auto; }
.header { text-align: center; width: 920px; margin: 0 auto; position: relative; }
.header .header-title { width: 100px; position: absolute; left: 0; top: 10px; }
.header .header-menu { margin-top: 20px; position: absolute; right: 0; }
.header .header-menu a { margin-left: 38px; font-size: 15px; font-weight: 700; }

/* 스틸컷 */
.steel-cut-area { text-align: center; height: 900px; color: #3d3d3d; }
.steel-cut-title { margin: 120px 0; }
.steel-cut-title img { width: 260px; }
.steel-cut { position: relative; margin-top: 200px; }
.steel-cut-info { width: 100%; height: 370px; background-color: #e0eef9; }
.steel-info-1 { position: absolute; margin: 95px 0 0 320px; }
.info-1-title { font-size: 45px; margin-bottom: 35px; }
.info-1 { text-align: left; font-size: 12px; line-height: 1.2; }
.steel-cut-pic img { height: 350px; position: absolute; right: 308px; }
.steel-cut-pic .steel-cut-1 img { height: 370px; position: absolute; top: 0; right: 295px; z-index: 1; box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.35); }
.steel-cut-pic .steel-cut-2 img { top: -150px; }
.steel-cut-pic .steel-cut-3 img { top: 170px; }

/* character-area */
.character-area { text-align: center; position: relative; height: 2600px; }
.character-area .character-title { margin: 0 0 70px 0; }
.character-area .character-title img { height: 29px; }
/* character-1 */
.character-1 { position: relative; }
.character-background-1 img { height: 520px; position: absolute; left: 0; }
.character-pic-1 { height: 450px; position: absolute; left: 380px; top: 35px; overflow: hidden; }
.character-pic-1 img { z-index: 1; height: 100%; transform: scale(1); transition: all 0.6s ease-in-out; }
.character-pic-1:hover img { transform: scale(1.1); }
/* character-2 */
.character-2 { position: relative; top: 570px; right: 0; }
.character-background-2 img { height: 520px; position: absolute; right: 0; }
.character-pic-2 { height: 450px; position: absolute; top: 35px; right: 380px; overflow: hidden; }
.character-pic-2 img { z-index: 1; height: 100%; transform: scale(1); transition: all 0.6s ease-in-out; }
.character-pic-2:hover img { transform: scale(1.1); }
/* character-3 */
.character-3 { position: relative; top: 1140px; }
.character-background-3 img { height: 520px; position: absolute; left: 0; }
.character-pic-3 { height: 450px; position: absolute; left: 380px; top: 35px; overflow: hidden; }
.character-pic-3 img { z-index: 1; height: 100%; transform: scale(1); transition: all 0.6s ease-in-out; }
.character-pic-3:hover img { transform: scale(1.1); }
/* character-4 */
.character-4 { position: relative; top: 1710px; right: 0; }
.character-background-4 img { height: 520px; position: absolute; right: 0 }
.character-pic-4 { height: 450px; position: absolute; top: 35px; right: 380px; overflow: hidden; }
.character-pic-4 img { z-index: 1; height: 100%; transform: scale(1); transition: all 0.6s ease-in-out; }
.character-pic-4:hover img { transform: scale(1.1); }
/* character-info */
.character-info-1 { position: absolute; right: 300px; top: 150px; }
.character-info-1 .name { text-align: left; color: #1c4393; }
.character-info-1 .name .character-name { font-size: 45px; position: relative; }
.character-info-1 .name .character-name .actor-name { position: absolute; font-size: 12px; top: -10px; left: 2px; }
.character-info-1 .info { text-align: left; color: #3d3d3d; margin: 20px 0 0 4px; line-height: 1.2; }

.character-info-2 { position: absolute; left: 300px; top: 150px; }
.character-info-2 .name { text-align: left; color: #1c4393; }
.character-info-2 .name .character-name { font-size: 45px; position: relative; }
.character-info-2 .name .character-name .actor-name { position: absolute; font-size: 12px; top: -10px; left: 2px; }
.character-info-2 .info { text-align: left; color: #3d3d3d; margin: 20px 0 0 4px; line-height: 1.2; }

.character-info-3 { position: absolute; right: 300px; top: 150px; }
.character-info-3 .name { text-align: left; color: #1c4393; }
.character-info-3 .name .character-name { font-size: 45px; position: relative; }
.character-info-3 .name .character-name .actor-name { position: absolute; font-size: 12px; top: -10px; left: 2px; }
.character-info-3 .info { text-align: left; color: #3d3d3d; margin: 20px 0 0 4px; line-height: 1.2; }

.character-info-4 { position: absolute; left: 300px; top: 150px; }
.character-info-4 .name { text-align: left; color: #1c4393; }
.character-info-4 .name .character-name { font-size: 35px; position: relative; line-height: 1.2; }
.character-info-4 .name .character-name .actor-name { position: absolute; font-size: 12px; top: -15px; left: 2px; }
.character-info-4 .info { text-align: left; color: #3d3d3d; margin: 20px 0 0 4px; line-height: 1.2; }

/* banner */
/*.banner-area { height: auto; }
.banner-area img { width: 100%; }*/

.banner-area { height: 563px; width: 100%; overflow: hidden; position:relative; }
.banner-area li { position: absolute; left: 0; right: 0; top: 0; bottom: 0; opacity: 0; transition: 2s; }
.banner-area li:nth-child(1) { background: url("./image/banner(1).png"); background-size: 100% auto; }
.banner-area li:nth-child(2) { background: url("./image/banner(2).png"); background-size: 100% auto; }
.banner-area li:nth-child(3) { background: url("./image/banner(3).png"); background-size: 100% auto; }
.banner-area input { display: none; }
.banner-area .bullet { position: absolute; bottom: 20px; left: 0; right: 0; text-align: center; z-index: 10; }
.banner-area .bullet label { width: 10px; height: 10px; margin: 0 5px; border-radius: 10px; display: inline-block; background: #d1d1d1; font-size: 0; transition: 0.5s; cursor: pointer; }

/* 슬라이드 조작 */
#pos1:checked ~ ul li:nth-child(1),
#pos2:checked ~ ul li:nth-child(2),
#pos3:checked ~ ul li:nth-child(3) { opacity: 1; }

/* bullet 조작 */
#pos1:checked ~ .bullet label:nth-child(1),
#pos2:checked ~ .bullet label:nth-child(2),
#pos3:checked ~ .bullet label:nth-child(3) { background: #3e3e3e; }

/* 트레일러 */
.trailer-area { text-align: center; position: relative; }
.trailer-title { margin: 120px 0 0 0; position: absolute; top: 70px; left: 645px; }
.trailer-title img { height: 35px; }
.trailer-background img { width: 100%; }
.trailer { position: absolute; top: 320px; left: 360px; }

/* ost-area */
.ost-area { position: relative; height: 220px; }
.ost-title { position: absolute; top: -350px; left: 705px; margin: 0 0 400px 0; }
.ost-title img { height: 35px; position: absolute; z-index: 1; }
.ost { position: absolute; }
.ost img { height: 700px; position: absolute; z-index: 1; top: -260px; left: 412px; }
.ost .back { height: 50px; top: 70px; left: 530px; }
.ost .next { height: 50px; top: 70px; left: 930px; }
.ost .play { height: 50px; top: 70px; left: 753px; }
.ost .stop { display: none; }

/* footer */
.footer-area { position: relative; }
.footer-area img { width: 100%; }
.footer-icon img { width: 25px; position: absolute; bottom: 120px; }
.instagram-area a:last-child { display: none; }
.instagram-area:hover a:first-child { display: none; }
.instagram-area:hover a:last-child { display: inline; }
.instagram { right: 140px; }
.facebook-area a:last-child { display: none; }
.facebook-area:hover a:first-child { display: none; }
.facebook-area:hover a:last-child { display: inline; }
.facebook { right: 100px; }
.linkedin-area a:last-child { display: none; }
.linkedin-area:hover a:first-child { display: none; }
.linkedin-area:hover a:last-child { display: inline; }
.linkedin { right: 60px; }
.footer-area address { color: #fff; position: absolute; font-style: normal; bottom: 70px; right: 55px; }